html {
  font-size: 62.5%;
  background-color: #455a64;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  font-size: 2rem;
  margin: 10rem auto;
  color: #cfd8dc;
  max-width: 1500px;
}

.nav-link {
  border: 1px solid #ff4081;
  color: #cfd8dc;
  padding: 1rem;
  text-decoration: none;
  &--active {
    background-color: #ff4081;
    color: #cfd8dc;
  }
}

.unstyled-ref {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #cfd8dc;
}

.expense-list {
  &__item {
    font-weight: bolder;
    text-decoration: none;
    color: #cfd8dc;
    margin-bottom: 1rem;

    &:hover {
      cursor: pointer;
      color: #ff4081;
    }
  }
}

.go-back {
  border-top: 1px solid #cfd8dc;
  color: #ffffff;
  max-width: 500px;
  display: block;
  margin-top: 10px;
  &:hover {
    color: #ff4081;
    border-color: #ff4081;
  }
}

.add-expense-field {
  display: flex;
}
